<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Выписка счетов</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/users" class="nav-link" aria-current="page">Пользователи</a></li>
        <li class="nav-item"><a href="/accounts" class="nav-link">Счета</a></li>
        <li class="nav-item"><a href="/products" class="nav-link">Продукты</a></li>
        <li class="nav-item"><a href="/manufacturers" class="nav-link">Производители</a></li>
        <li class="nav-item"><a href="/suppliers" class="nav-link">Поставки</a></li>
        <li class="nav-item"><a href="/end_list" class="nav-link">Конечный список</a></li>
    </ul>


</header>
